* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: darkslategray;
}

a {
    color: black;
    text-decoration: none;
}

li {
    margin-left: 30px;
}

h1,
h2,
h3,
h4 {
    margin-bottom: 30px;
}

textarea {
    width: 80%;
    height: 100px;    
    margin: 10px auto;
    padding: 10px;
}


.container {
    padding: 50px;
    text-align: center;
    background-color: white;
    margin: 5vh 20% 0 20%;
    min-height: 90vh;
    height: fit-content;
}

.homework {
    text-align: left;
    position: relative;
}

.task {
    margin-bottom: 10px;
}

.sample {
    margin-left: 20px;
    font-style: italic;
}

.button {
    cursor: pointer;
    border: 1px rgba(255, 60, 0, 0.678) solid;
    padding: 10px;
    margin: 20px auto 20px auto;
    width: 200px;
    background-color: #fd886866;
}

.button:hover {
    background-color: #fd886898;
}